div {
    background-color:transparent;
    padding:10px;
}

.settingIcon{
    background-image:url('~../images/gear.svg'); /* Please, note the '~' */
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    display:inline-block;
}
