@import 'themeColors';
$theme-font:    verdana, sans-serif;

.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: gold;
}


div {
    background-color:transparent;
    padding:10px;
}

.settingIcon{
    background-image:url('~../images/gear.svg'); /* Please, note the '~' */
    background-repeat:no-repeat;
    height:50px;
    width:50px;
    display:inline-block;
}

body {
  font: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}

#home-img {
  display: inline-block;
  padding:10px;
  img {
    height: 75px;
    width: 75px;
  }
}

#nature-id {
  img {
    height: 150px;
    width: 150px;
  }
}
